footer{
    background: black;
}
  
.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    max-width: 1450px;
    padding: 0 1%;
  }
  
  footer .logo{
    margin: auto;
    color: var(--bg-primary);
    padding: 20px 0 80px 0;
  }

  footer .logo::first-letter{
    background: var(--bg-secondary);
    color: black;
    }

  footer .copyright{
      color: var(--shadow);
      padding: 10px;
      font-size: 14px;
  }