header{
  box-shadow: 0px 0px 5px var(--shadow); 
  position: relative;
  z-index: 10;
  background: var(--bg-primary);
}

.header-content{
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  max-width: 1450px;
  padding: 0 1%;
  position: relative;

}

header .logo{
  color: var(--primary);
}

header .logo::first-letter{
background: var(--primary);
color: var(--bg-primary);
}

header nav a{
  padding : 8px;
  margin-left: 1vw;
  font-weight: 500;
  font-size: 16px;
  transition: 500ms;
}

header nav a.nav-login{
  border-bottom: 1px solid transparent;
  color: var(--text-primary);
}

header a.nav-signup{
  background: var(--primary);
  border-radius: 10px;
  color: var(--bg-primary);
}

/* header a.nav-signup:hover{
  background: none;
  color: var(--primary);
} */

header nav a.nav-signup:hover{
  box-shadow:  4px 4px 0 var(--secondary);
}

header nav a.nav-login:hover{
  /* border-bottom: 1px solid var(--primary); */
  color: var(--primary);  
}

.nav-menu-container{
  background: var(--bg-secondary);
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 5px;
  position: relative;
  box-shadow: 0 0 1px var(--grey);
}

.nav-img{
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: black;
}

.nav-menu-container .nav-menu{
  width: 30px;
  text-align: center;
  color: var(--primary);
  transition: 500ms;
}

.nav-menu-container svg{
  font-size: 18px;
  transition: 500ms;
}

.nav-menu-container:hover{
  cursor: pointer;
}

.nav-menu.selected > svg{
  transform: rotate(180deg);
}

.nav-menu-content{
   display: flex;
  flex-direction: column;
  opacity: 0;
  height: fit-content;
  width: 150px;
  background: var(--bg-primary);
  box-shadow: 0px 0px 5px var(--shadow);
  border-radius: 20px;
  position: absolute;
  top: 40px;
  right: 0;
  overflow: hidden;
  animation: menu-appear 700ms both;
}

/* .nav-menu-container:hover
.nav-menu-content{
  animation: menu-appear 700ms both;
} */

.nav-menu-link{
  display: flex;
  justify-content: center;
  box-shadow: 0 0 1px var(--grey);
  margin: 0;
  color: var(--text-primary);
  font-weight: 400;
  padding: 8px;
}

.nav-menu-link:hover{
  background: var(--bg-secondary);
  color: var(--primary);
}


.nav-menu-link:first-child{
  border-top: none;
}

.nav-menu-link{
  display: flex;
  justify-content: center;
}

.nav-menu-link:last-child{
  color: grey;
}

.nav-menu-link:last-child:hover{
  color: darkred;
}


.nav-menu-link svg{
  margin: 0 2px;
  font-size: 18px;
}

.nav-menu-link span{
  margin: 0 2px;
  width: 80%;
  text-align: start;
}

.share-modal .button{
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

@keyframes menu-appear{
  0%{
    transform: translate(0px,-20px);
  }
  100%{
    opacity : 1;
  }
}

@media(max-width : 768px){
  .nav-menu-content{
   width: 100vw;
   margin-right: -5px ;
   box-shadow: 0px 2px 5px var(--shadow);
   border-radius: 0;
   top: 60px;  
 }
}
