input{
    height: 40px
}

input, textarea{
    width: 80%;
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid var(--shadow);
    padding-left: 10px;
}



p.error{
    position: absolute;
    /* margin: 0; */
    font-size: 12px;
    left: 11%;
    bottom: -16px;
    width: fit-content;
    color: #cd0000;
    font-weight: 500;

}