@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Montserrat:wght@400;500;600;700&display=swap');

:root{
    --primary : #6d27de;
    --secondary : #ffc500;
    --bg-primary : #fff;
    --bg-secondary : #f7f7f7; 
    --shadow : #d4d4d4;
    --grey : #959595;  
    --text-primary : black;
    --border : #d4d4d4;
    --secondary-to-primary : #ffc500;
    --white-to-primary : white;
    --empty-stars : lightgrey;
}

*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    height: max-content;
}

*::selection{
    background: var(--secondary);
    color: var(--primary);
}

body{
    margin: 0;
    min-width: 370px;
}

.main-content{
    max-width: 1450px;
    min-height: 80vh;
    margin: auto;
    padding: 70px 2%;
}

main{
    min-height: 80vh;
}

h1, h2, h3{
    margin: 0;
}

a{
    text-decoration: none;
}

a, span{
    display: inline-block;
}

a[href='/home'] div{
    width: 100%;
    display: flex;
    justify-content: end;
}

a[href='/home'] div div{
    background: var(--secondary);
    width: 80%;
    height: 3px;
}

.logo{
  font-family: 'Chela One', sans-serif;
  margin: 0;
  padding: 20px 0;
}

.logo::first-letter{
    background: var(--primary);
    color: var(--bg-primary);
    padding: 0 3px;
    border-radius: 5px;
  }

  .user-bg { 
    background-color: var(--bg-secondary) !important;
    min-height: calc(100vh - 76px);
  }

  .form-control{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 9px auto;
}