
.backdrop{
    z-index: 5;
    display: none;
    backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, 0.486);
    color: red;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 370px;
    height: 100%;
    z-index: 10;
}

.modal{
    background: white;
    padding: 1%;
    color: black;
    position: fixed;
    width: 95%;
    max-width: 400px;
    min-width: 370px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    z-index: 100;
}

.modal p{
    color: var(--grey);
    text-align: center;
    width: 80%;
}

.modal .link{
    font-weight: 500;
}

.modal .link:hover{
    text-decoration: underline;
}

.close-modal-btn{
    font-size: 40px;
    transition: 500ms;
    cursor: pointer;
    padding: 5px;
    display: block;
    border-radius: 10px;
}

.close-modal-btn:hover{
    background: var(--bg-secondary);
}

.backdrop.error-modal,
.backdrop.success-modal{
    z-index: 1000 ;
}

.backdrop.error-modal button,
.backdrop.success-modal button{
    margin: 10px;
}

.backdrop.error-modal .error-msg,
.backdrop.success-modal .success-msg{
    margin: 30px;
}

